@{
    Layout = "_Layout";
    ViewData["Title"] = "User Details";
}
@model Forum.Models.User
<h2>@($"{Model.Username}'s Posts")</h2>
<hr />
<p></p>
<ul>
@if(@Model.JoinEntities.Count == 0)
{
    <li>This user has no posts</li>
}
else
{
    @foreach(UserPostJoinEntity joinEntity in Model.JoinEntities) {
        <li>@Html.ActionLink($"{@joinEntity.Post.Title}", "Details", "Post", new { id = joinEntity.Post.PostId })</li>
    }
    
}
</ul>
@Html.ActionLink("Add a Post", "AddPost", new { id = Model.UserId }, new { @class = "btn btn-success"})
@Html.ActionLink("Edit User", "Edit", "User", new { id = Model.UserId }, new { @class = "btn btn-waring"}) |
@Html.ActionLink("Delete User", "Delete", "User", new { id = Model.UserId }, new { @class = "btn btn-danger"}) |
@Html.ActionLink("Back To Users", "Index", "User", null, new { @class = "btn btn-primary" })
